.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  size: 50px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content form {
  display: block;
  padding: 10px;
}

.dropdown-content label {
  display: block;
  margin-bottom: 5px;
}

.dropdown-content input[type="text"],
.dropdown-content input[type="password"],
.dropdown-content input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.dropdown-content input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content input[type="submit"]:hover {
  background-color: #45a049;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
a {
  text-decoration: none;
}

/* CSS styles for the dropdown button */
.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropbtn1 {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
#two {
  font-size: 12px;
}

/* Dropdown content (hidden by default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 200px;
}

/* Links inside the dropdown */
.dropdown-content1 form {
  display: block;
  padding: 10px;
}

.dropdown-content1 label {
  display: block;
  margin-bottom: 5px;
}

.dropdown-content1 input[type="text"],
.dropdown-content1 input[type="email"],
.dropdown-content1 input[type="password"],
.dropdown-content1 input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.dropdown-content1 input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown-content1 input[type="submit"]:hover {
  background-color: #45a049;
}

/* Show the dropdown content on hover */
.dropdown1:hover .dropdown-content1 {
  display: block;
}
#one {
  font-size: 12px;
}

.container1 {
  display: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #4caf50;
  color: white;
  top: 10px;
  right: 10px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

.container {
  display: flex-end;
  position: absolute;
  /* padding: 10px 20px; */
  background-color: #4caf50;
  color: white;
  font-size: 10px;
  border: none;
  cursor: pointer;
}
